@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

/* Effet points de suspension avec opacité en décalé sur "Prochainement" */
@keyframes ellipsis {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
/* Effet de secousse au survol des rubriques "mentions légales" et "contactez-nous" FOOTER */
@keyframes wiggle {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: #579c87;
  border-bottom: 2px solid #a1c181;
}
header a {
  text-decoration: none;
  color: #fdcb46;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #579c87;
  border-top: 2px solid #a1c181;
  position: fixed;
  bottom: 0;
  left: 0;
}
footer a {
  text-decoration: none;
  color: #fdcb46;
  padding-left: 30px;
  padding-right: 30px;
}
footer .link-animation:hover {
  animation: wiggle 0.2s linear infinite alternate;
}

.link {
  text-decoration: none;
}

#menus-ligne-1, #menus-ligne-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto 0 auto;
}

#menus-ligne-2 {
  margin-top: 60px;
}

.menus {
  width: 500px;
  height: 700px;
  margin: 0 40px;
  box-shadow: 0 0 15px 5px #ededed;
  overflow: hidden;
}
.menus__note-enchantee {
  background-color: #fcdfdb;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.menus__note-enchantee .fa-music {
  margin-bottom: 5px;
  background: linear-gradient(90deg, #f05060, #f6916a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menus__note-enchantee:hover {
  transform: scale(1.2);
  opacity: 0.6;
}
.menus__chic-a-la-francaise {
  background-color: #fff5fe;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.menus__chic-a-la-francaise:hover {
  transform: scale(1.2);
  opacity: 0.6;
}
.menus__delice-des-papilles {
  background-color: #f9f9f9;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.menus__delice-des-papilles:hover {
  transform: scale(1.2);
  opacity: 0.6;
}
.menus__palette-du-gout {
  background-color: #fdfffd;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.menus__palette-du-gout:hover {
  transform: scale(1.2);
  opacity: 0.6;
}

.soon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 2.5em;
  margin: 100px auto 150px auto;
  background-color: #579c87;
  color: #fdcb46;
  border-radius: 15px;
}

.point {
  margin: auto;
  padding: 1%;
}
.point span {
  animation: ellipsis 1.4s infinite both;
}
.point span:nth-child(2) {
  animation-delay: 0.2s;
}
.point span:nth-child(3) {
  animation-delay: 0.4s;
}

.note-enchantee {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.note-enchantee__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  margin-top: 4vh;
  margin-bottom: 14vh;
  background-color: #fcdfdb;
  box-shadow: 0 0 15px 5px #ededed;
}
.note-enchantee__content .fa-music {
  margin-top: 80px;
  background: linear-gradient(90deg, #f05060, #f6916a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.note-enchantee__content .entrees, .note-enchantee__content .desserts, .note-enchantee__content .plats {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 2em 4em;
}
.note-enchantee__content .entrees .entrees__title, .palette-gout__content .desserts .note-enchantee__content .entrees .desserts__title, .palette-gout__content .plats .note-enchantee__content .entrees .plats__title, .palette-gout__content .plats .note-enchantee__content .desserts .plats__title, .delice-papille__content .desserts .note-enchantee__content .entrees .desserts__title, .delice-papille__content .plats .note-enchantee__content .entrees .plats__title, .delice-papille__content .plats .note-enchantee__content .desserts .plats__title, .chic-francaise__content .desserts .note-enchantee__content .entrees .desserts__title, .chic-francaise__content .plats .note-enchantee__content .entrees .plats__title, .chic-francaise__content .plats .note-enchantee__content .desserts .plats__title, .note-enchantee__content .desserts .entrees__title, .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .plats .entrees__title, .palette-gout__content .desserts .note-enchantee__content .plats .desserts__title, .delice-papille__content .desserts .note-enchantee__content .plats .desserts__title, .chic-francaise__content .desserts .note-enchantee__content .plats .desserts__title, .note-enchantee__content .plats .plats__title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 20px;
}
.note-enchantee__content .entrees img, .note-enchantee__content .desserts img, .note-enchantee__content .plats img {
  width: 35%;
  height: auto;
  align-self: center;
  overflow: hidden;
}
.note-enchantee__content .entrees .lignemenu, .note-enchantee__content .desserts .lignemenu, .note-enchantee__content .plats .lignemenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px;
}
.footer-note-enchantee {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px auto 80px auto;
}
.footer-note-enchantee .fa-music {
  padding: 0;
  margin: 0;
  margin-right: 15px;
  background: linear-gradient(90deg, #f05060, #f6916a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.chic-francaise {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.chic-francaise__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  margin-top: 4vh;
  margin-bottom: 14vh;
  background-color: #fff5fe;
  box-shadow: 0 0 15px 5px #ededed;
}
.chic-francaise__content .entrees, .chic-francaise__content .desserts, .chic-francaise__content .plats {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 2em 1em;
  color: #c77412;
}
.chic-francaise__content .entrees .entrees__title, .palette-gout__content .desserts .chic-francaise__content .entrees .desserts__title, .palette-gout__content .plats .chic-francaise__content .entrees .plats__title, .palette-gout__content .plats .chic-francaise__content .desserts .plats__title, .delice-papille__content .desserts .chic-francaise__content .entrees .desserts__title, .delice-papille__content .plats .chic-francaise__content .entrees .plats__title, .delice-papille__content .plats .chic-francaise__content .desserts .plats__title, .chic-francaise__content .desserts .entrees__title, .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .plats .entrees__title, .palette-gout__content .desserts .chic-francaise__content .plats .desserts__title, .delice-papille__content .desserts .chic-francaise__content .plats .desserts__title, .chic-francaise__content .plats .plats__title, .note-enchantee__content .plats .chic-francaise__content .entrees .plats__title, .note-enchantee__content .plats .chic-francaise__content .desserts .plats__title, .note-enchantee__content .desserts .chic-francaise__content .entrees .desserts__title, .note-enchantee__content .desserts .chic-francaise__content .plats .desserts__title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 60px;
  color: #c77412;
}
.chic-francaise__content .entrees img, .chic-francaise__content .desserts img, .chic-francaise__content .plats img {
  width: 35%;
  align-self: center;
  overflow: hidden;
}
.chic-francaise__content .entrees .lignemenu, .chic-francaise__content .desserts .lignemenu, .chic-francaise__content .plats .lignemenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 120px 35px 120px;
}
.chic-francaise__content .plats {
  color: #a56799;
}
.chic-francaise__content .plats .plats__title {
  color: #a56799;
}
.chic-francaise__content .desserts {
  color: #6e4ccc;
}
.chic-francaise__content .desserts .desserts__title {
  color: #6e4ccc;
}

.delice-papille {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.delice-papille__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  margin-top: 4vh;
  margin-bottom: 14vh;
  background-color: #f9f9f9;
  box-shadow: 0 0 15px 5px #ededed;
}
.delice-papille__content .entrees, .delice-papille__content .desserts, .delice-papille__content .plats {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 1em 1em;
}
.delice-papille__content .entrees .entrees__title, .palette-gout__content .desserts .delice-papille__content .entrees .desserts__title, .palette-gout__content .plats .delice-papille__content .entrees .plats__title, .palette-gout__content .plats .delice-papille__content .desserts .plats__title, .delice-papille__content .desserts .entrees__title, .delice-papille__content .desserts .desserts__title, .delice-papille__content .plats .entrees__title, .palette-gout__content .desserts .delice-papille__content .plats .desserts__title, .delice-papille__content .plats .plats__title, .note-enchantee__content .plats .delice-papille__content .entrees .plats__title, .note-enchantee__content .plats .delice-papille__content .desserts .plats__title, .note-enchantee__content .desserts .delice-papille__content .entrees .desserts__title, .note-enchantee__content .desserts .delice-papille__content .plats .desserts__title, .chic-francaise__content .plats .delice-papille__content .entrees .plats__title, .chic-francaise__content .plats .delice-papille__content .desserts .plats__title, .chic-francaise__content .desserts .delice-papille__content .entrees .desserts__title, .chic-francaise__content .desserts .delice-papille__content .plats .desserts__title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 3vh;
}
.delice-papille__content .entrees img, .delice-papille__content .desserts img, .delice-papille__content .plats img {
  width: 35%;
  align-self: center;
  overflow: hidden;
}
.delice-papille__content .entrees .lignemenu, .delice-papille__content .desserts .lignemenu, .delice-papille__content .plats .lignemenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 100px 35px 100px;
}
.palette-gout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.palette-gout__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  margin-top: 4vh;
  margin-bottom: 14vh;
  background-color: #fdfffd;
  box-shadow: 0 0 15px 5px #ededed;
}
.palette-gout__content .entrees, .palette-gout__content .desserts, .palette-gout__content .plats {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 2em 1em;
}
.palette-gout__content .entrees .entrees__title, .palette-gout__content .entrees .desserts .desserts__title, .palette-gout__content .desserts .entrees .desserts__title, .palette-gout__content .desserts .entrees__title, .palette-gout__content .desserts .desserts__title, .palette-gout__content .entrees .plats .plats__title, .palette-gout__content .desserts .plats .plats__title, .palette-gout__content .plats .entrees .plats__title, .palette-gout__content .plats .desserts .plats__title, .palette-gout__content .plats .entrees__title, .palette-gout__content .plats .desserts .desserts__title, .palette-gout__content .desserts .plats .desserts__title, .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .plats .entrees__title, .palette-gout__content .note-enchantee__content .plats .desserts .desserts__title, .palette-gout__content .desserts .note-enchantee__content .plats .desserts__title, .palette-gout__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .palette-gout__content .plats .entrees__title, .note-enchantee__content .palette-gout__content .plats .desserts .desserts__title, .note-enchantee__content .palette-gout__content .desserts .plats .desserts__title, .note-enchantee__content .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .desserts .entrees__title, .palette-gout__content .note-enchantee__content .desserts .desserts__title, .palette-gout__content .note-enchantee__content .desserts .plats .plats__title, .palette-gout__content .plats .note-enchantee__content .desserts .plats__title, .note-enchantee__content .palette-gout__content .desserts .entrees__title, .note-enchantee__content .palette-gout__content .desserts .desserts__title, .note-enchantee__content .palette-gout__content .desserts .plats .plats__title, .note-enchantee__content .palette-gout__content .plats .desserts .plats__title, .palette-gout__content .chic-francaise__content .plats .entrees__title, .palette-gout__content .chic-francaise__content .plats .desserts .desserts__title, .palette-gout__content .desserts .chic-francaise__content .plats .desserts__title, .palette-gout__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .palette-gout__content .plats .entrees__title, .chic-francaise__content .palette-gout__content .plats .desserts .desserts__title, .chic-francaise__content .palette-gout__content .desserts .plats .desserts__title, .chic-francaise__content .palette-gout__content .plats .plats__title, .palette-gout__content .chic-francaise__content .desserts .entrees__title, .palette-gout__content .chic-francaise__content .desserts .desserts__title, .palette-gout__content .chic-francaise__content .desserts .plats .plats__title, .palette-gout__content .plats .chic-francaise__content .desserts .plats__title, .chic-francaise__content .palette-gout__content .desserts .entrees__title, .chic-francaise__content .palette-gout__content .desserts .desserts__title, .chic-francaise__content .palette-gout__content .desserts .plats .plats__title, .chic-francaise__content .palette-gout__content .plats .desserts .plats__title, .palette-gout__content .delice-papille__content .plats .entrees__title, .palette-gout__content .delice-papille__content .plats .desserts .desserts__title, .palette-gout__content .desserts .delice-papille__content .plats .desserts__title, .palette-gout__content .delice-papille__content .plats .plats__title, .delice-papille__content .palette-gout__content .plats .entrees__title, .delice-papille__content .palette-gout__content .plats .desserts .desserts__title, .delice-papille__content .palette-gout__content .desserts .plats .desserts__title, .delice-papille__content .palette-gout__content .plats .plats__title, .palette-gout__content .delice-papille__content .desserts .entrees__title, .palette-gout__content .delice-papille__content .desserts .desserts__title, .palette-gout__content .delice-papille__content .desserts .plats .plats__title, .palette-gout__content .plats .delice-papille__content .desserts .plats__title, .delice-papille__content .palette-gout__content .desserts .entrees__title, .delice-papille__content .palette-gout__content .desserts .desserts__title, .delice-papille__content .palette-gout__content .desserts .plats .plats__title, .delice-papille__content .palette-gout__content .plats .desserts .plats__title, .palette-gout__content .entrees .note-enchantee__content .plats .plats__title, .palette-gout__content .desserts .note-enchantee__content .plats .plats__title, .palette-gout__content .plats .note-enchantee__content .plats .plats__title, .note-enchantee__content .plats .palette-gout__content .entrees .plats__title, .note-enchantee__content .plats .palette-gout__content .desserts .plats__title, .note-enchantee__content .plats .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .desserts .plats .plats__title, .palette-gout__content .note-enchantee__content .plats .desserts .plats__title, .note-enchantee__content .palette-gout__content .desserts .plats .plats__title, .note-enchantee__content .plats .palette-gout__content .desserts .plats__title, .palette-gout__content .chic-francaise__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .palette-gout__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .palette-gout__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .chic-francaise__content .palette-gout__content .plats .plats__title, .palette-gout__content .chic-francaise__content .desserts .note-enchantee__content .plats .plats__title, .note-enchantee__content .plats .palette-gout__content .chic-francaise__content .desserts .plats__title, .chic-francaise__content .palette-gout__content .desserts .note-enchantee__content .plats .plats__title, .note-enchantee__content .plats .chic-francaise__content .palette-gout__content .desserts .plats__title, .palette-gout__content .delice-papille__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .palette-gout__content .delice-papille__content .plats .plats__title, .delice-papille__content .palette-gout__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .delice-papille__content .palette-gout__content .plats .plats__title, .palette-gout__content .delice-papille__content .desserts .note-enchantee__content .plats .plats__title, .note-enchantee__content .plats .palette-gout__content .delice-papille__content .desserts .plats__title, .delice-papille__content .palette-gout__content .desserts .note-enchantee__content .plats .plats__title, .note-enchantee__content .plats .delice-papille__content .palette-gout__content .desserts .plats__title, .palette-gout__content .entrees .note-enchantee__content .desserts .desserts__title, .palette-gout__content .desserts .note-enchantee__content .desserts .desserts__title, .palette-gout__content .plats .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .desserts .palette-gout__content .entrees .desserts__title, .note-enchantee__content .desserts .palette-gout__content .desserts .desserts__title, .note-enchantee__content .desserts .palette-gout__content .plats .desserts__title, .palette-gout__content .note-enchantee__content .plats .desserts .desserts__title, .palette-gout__content .note-enchantee__content .desserts .plats .desserts__title, .note-enchantee__content .palette-gout__content .plats .desserts .desserts__title, .note-enchantee__content .desserts .palette-gout__content .plats .desserts__title, .palette-gout__content .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .chic-francaise__content .plats .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .desserts .palette-gout__content .chic-francaise__content .plats .desserts__title, .chic-francaise__content .palette-gout__content .plats .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .desserts .chic-francaise__content .palette-gout__content .plats .desserts__title, .palette-gout__content .chic-francaise__content .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .palette-gout__content .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .palette-gout__content .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .chic-francaise__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .delice-papille__content .plats .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .desserts .palette-gout__content .delice-papille__content .plats .desserts__title, .delice-papille__content .palette-gout__content .plats .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .desserts .delice-papille__content .palette-gout__content .plats .desserts__title, .palette-gout__content .delice-papille__content .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .palette-gout__content .delice-papille__content .desserts .desserts__title, .delice-papille__content .palette-gout__content .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .delice-papille__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .entrees .chic-francaise__content .plats .plats__title, .palette-gout__content .desserts .chic-francaise__content .plats .plats__title, .palette-gout__content .plats .chic-francaise__content .plats .plats__title, .chic-francaise__content .plats .palette-gout__content .entrees .plats__title, .chic-francaise__content .plats .palette-gout__content .desserts .plats__title, .chic-francaise__content .plats .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .palette-gout__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .palette-gout__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .note-enchantee__content .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .desserts .chic-francaise__content .plats .plats__title, .chic-francaise__content .plats .palette-gout__content .note-enchantee__content .desserts .plats__title, .note-enchantee__content .palette-gout__content .desserts .chic-francaise__content .plats .plats__title, .chic-francaise__content .plats .note-enchantee__content .palette-gout__content .desserts .plats__title, .palette-gout__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .palette-gout__content .plats .plats__title, .palette-gout__content .chic-francaise__content .desserts .plats .plats__title, .palette-gout__content .chic-francaise__content .plats .desserts .plats__title, .chic-francaise__content .palette-gout__content .desserts .plats .plats__title, .chic-francaise__content .plats .palette-gout__content .desserts .plats__title, .palette-gout__content .delice-papille__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .palette-gout__content .delice-papille__content .plats .plats__title, .delice-papille__content .palette-gout__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .delice-papille__content .palette-gout__content .plats .plats__title, .palette-gout__content .delice-papille__content .desserts .chic-francaise__content .plats .plats__title, .chic-francaise__content .plats .palette-gout__content .delice-papille__content .desserts .plats__title, .delice-papille__content .palette-gout__content .desserts .chic-francaise__content .plats .plats__title, .chic-francaise__content .plats .delice-papille__content .palette-gout__content .desserts .plats__title, .palette-gout__content .entrees .chic-francaise__content .desserts .desserts__title, .palette-gout__content .desserts .chic-francaise__content .desserts .desserts__title, .palette-gout__content .plats .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .desserts .palette-gout__content .entrees .desserts__title, .chic-francaise__content .desserts .palette-gout__content .desserts .desserts__title, .chic-francaise__content .desserts .palette-gout__content .plats .desserts__title, .palette-gout__content .note-enchantee__content .plats .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .desserts .palette-gout__content .note-enchantee__content .plats .desserts__title, .note-enchantee__content .palette-gout__content .plats .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .desserts .note-enchantee__content .palette-gout__content .plats .desserts__title, .palette-gout__content .note-enchantee__content .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .palette-gout__content .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .palette-gout__content .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .note-enchantee__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .chic-francaise__content .plats .desserts .desserts__title, .palette-gout__content .chic-francaise__content .desserts .plats .desserts__title, .chic-francaise__content .palette-gout__content .plats .desserts .desserts__title, .chic-francaise__content .desserts .palette-gout__content .plats .desserts__title, .palette-gout__content .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .delice-papille__content .plats .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .desserts .palette-gout__content .delice-papille__content .plats .desserts__title, .delice-papille__content .palette-gout__content .plats .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .desserts .delice-papille__content .palette-gout__content .plats .desserts__title, .palette-gout__content .delice-papille__content .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .palette-gout__content .delice-papille__content .desserts .desserts__title, .delice-papille__content .palette-gout__content .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .delice-papille__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .entrees .delice-papille__content .plats .plats__title, .palette-gout__content .desserts .delice-papille__content .plats .plats__title, .palette-gout__content .plats .delice-papille__content .plats .plats__title, .delice-papille__content .plats .palette-gout__content .entrees .plats__title, .delice-papille__content .plats .palette-gout__content .desserts .plats__title, .delice-papille__content .plats .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .delice-papille__content .plats .plats__title, .delice-papille__content .palette-gout__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .palette-gout__content .delice-papille__content .plats .plats__title, .delice-papille__content .note-enchantee__content .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .desserts .delice-papille__content .plats .plats__title, .delice-papille__content .plats .palette-gout__content .note-enchantee__content .desserts .plats__title, .note-enchantee__content .palette-gout__content .desserts .delice-papille__content .plats .plats__title, .delice-papille__content .plats .note-enchantee__content .palette-gout__content .desserts .plats__title, .palette-gout__content .chic-francaise__content .delice-papille__content .plats .plats__title, .delice-papille__content .palette-gout__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .palette-gout__content .delice-papille__content .plats .plats__title, .delice-papille__content .chic-francaise__content .palette-gout__content .plats .plats__title, .palette-gout__content .chic-francaise__content .desserts .delice-papille__content .plats .plats__title, .delice-papille__content .plats .palette-gout__content .chic-francaise__content .desserts .plats__title, .chic-francaise__content .palette-gout__content .desserts .delice-papille__content .plats .plats__title, .delice-papille__content .plats .chic-francaise__content .palette-gout__content .desserts .plats__title, .palette-gout__content .delice-papille__content .plats .plats__title, .delice-papille__content .palette-gout__content .plats .plats__title, .palette-gout__content .delice-papille__content .desserts .plats .plats__title, .palette-gout__content .delice-papille__content .plats .desserts .plats__title, .delice-papille__content .palette-gout__content .desserts .plats .plats__title, .delice-papille__content .plats .palette-gout__content .desserts .plats__title, .palette-gout__content .entrees .delice-papille__content .desserts .desserts__title, .palette-gout__content .desserts .delice-papille__content .desserts .desserts__title, .palette-gout__content .plats .delice-papille__content .desserts .desserts__title, .delice-papille__content .desserts .palette-gout__content .entrees .desserts__title, .delice-papille__content .desserts .palette-gout__content .desserts .desserts__title, .delice-papille__content .desserts .palette-gout__content .plats .desserts__title, .palette-gout__content .note-enchantee__content .plats .delice-papille__content .desserts .desserts__title, .delice-papille__content .desserts .palette-gout__content .note-enchantee__content .plats .desserts__title, .note-enchantee__content .palette-gout__content .plats .delice-papille__content .desserts .desserts__title, .delice-papille__content .desserts .note-enchantee__content .palette-gout__content .plats .desserts__title, .palette-gout__content .note-enchantee__content .delice-papille__content .desserts .desserts__title, .delice-papille__content .palette-gout__content .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .palette-gout__content .delice-papille__content .desserts .desserts__title, .delice-papille__content .note-enchantee__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .chic-francaise__content .plats .delice-papille__content .desserts .desserts__title, .delice-papille__content .desserts .palette-gout__content .chic-francaise__content .plats .desserts__title, .chic-francaise__content .palette-gout__content .plats .delice-papille__content .desserts .desserts__title, .delice-papille__content .desserts .chic-francaise__content .palette-gout__content .plats .desserts__title, .palette-gout__content .chic-francaise__content .delice-papille__content .desserts .desserts__title, .delice-papille__content .palette-gout__content .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .palette-gout__content .delice-papille__content .desserts .desserts__title, .delice-papille__content .chic-francaise__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .delice-papille__content .plats .desserts .desserts__title, .palette-gout__content .delice-papille__content .desserts .plats .desserts__title, .delice-papille__content .palette-gout__content .plats .desserts .desserts__title, .delice-papille__content .desserts .palette-gout__content .plats .desserts__title, .palette-gout__content .delice-papille__content .desserts .desserts__title, .delice-papille__content .palette-gout__content .desserts .desserts__title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 4vh;
}
.palette-gout__content .entrees img, .palette-gout__content .desserts img, .palette-gout__content .plats img {
  width: 35%;
  align-self: center;
  overflow: hidden;
}
.palette-gout__content .entrees .lignemenu, .palette-gout__content .desserts .lignemenu, .palette-gout__content .plats .lignemenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 60px 25px 60px;
}
.mentions-legales {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

body {
  font-size: 22px;
  color: #353535;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  letter-spacing: -7px;
  font-weight: 700;
}

/* INDEX | La note enchantée */
.menus__note-enchantee h2 {
  font-family: "Devonshire", cursive;
  font-size: 45px;
  font-weight: normal;
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #3d1319;
}
.menus__note-enchantee h3 {
  font-family: "Segoe Print", serif;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
  color: #3d1319;
}

/* PAGE | La note enchantée */
.note-enchantee__content h2 {
  font-family: "Devonshire", cursive;
  font-size: 55px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 50px;
  color: #3d1319;
}
.note-enchantee__content h3 {
  font-family: "Segoe Print", serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin: 0 20px;
  color: #3d1319;
  background: linear-gradient(to top, #3d1319 0%, #3d1319 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.note-enchantee__content h3:hover {
  background-size: 100% 100%;
}
.note-enchantee__content h4 {
  font-family: "Devonshire", cursive;
  font-size: 45px;
  font-weight: normal;
  text-align: center;
  color: #3d1319;
}
.note-enchantee__content p {
  font-family: "Segoe Print", serif;
  color: #3d1319;
}
.note-enchantee__content strong {
  font-family: "Segoe Print", serif;
  font-size: 25px;
}

/* INDEX | Chic à la française  */
.menus__chic-a-la-francaise h2 {
  font-family: "Croissant One", cursive;
  font-size: 32px;
  text-align: center;
  margin: 0;
  padding: 10px;
  background: linear-gradient(150deg, #e38a12, #8f5aff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menus__chic-a-la-francaise h3 {
  font-family: "Serif";
  /* TO DO police à redéfinir */
  font-size: 65px;
  font-weight: bold;
  color: #c77412;
  margin-top: 35px;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
}

/* PAGE | Le chic à la française */
.chic-francaise__content h2 {
  font-family: "Croissant one", cursive;
  font-size: 50px;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 6vh;
  background: linear-gradient(150deg, #e38a12, #8f5aff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.chic-francaise__content h3 {
  font-family: "Serif";
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  margin: 0 15px;
}
.chic-francaise__content .underline-1 {
  background: linear-gradient(to top, #c77412 0%, #c77412 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.chic-francaise__content .underline-1:hover {
  background-size: 100% 100%;
}
.chic-francaise__content .underline-2 {
  background: linear-gradient(to top, #a56799 0%, #a56799 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.chic-francaise__content .underline-2:hover {
  background-size: 100% 100%;
}
.chic-francaise__content .underline-3 {
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.chic-francaise__content .underline-3:hover {
  background-size: 100% 100%;
}
.chic-francaise__content p {
  font-family: "Serif";
  font-size: 25px;
}
.chic-francaise__content span {
  font-family: "Serif";
  font-size: 28px;
}

/* INDEX | Le délice des papilles */
.menus__delice-des-papilles h2 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 10px;
  background: linear-gradient(45deg, #0023db, #0889fb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menus__delice-des-papilles h3 {
  font-family: "Segoe Print", serif;
  font-size: 65px;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  margin-bottom: 0;
  color: #0887fb;
}

/* PAGE | Le délice des papilles */
.delice-papille__content h2 {
  font-family: "Dancing Script", cursive;
  font-size: 90px;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 6vh;
  padding-left: 5px;
  padding-right: 5px;
  background: linear-gradient(45deg, #0023db, #229df9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.delice-papille__content h3 {
  font-family: "Segoe Print", serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin: 0 50px;
}
.delice-papille__content .underline-1 {
  background: linear-gradient(to top, #0228dd 0%, #0228dd 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.delice-papille__content .underline-1:hover {
  background-size: 100% 100%;
}
.delice-papille__content .underline-2 {
  background: linear-gradient(to top, #0670f3 0%, #0670f3 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.delice-papille__content .underline-2:hover {
  background-size: 100% 100%;
}
.delice-papille__content .underline-3 {
  background: linear-gradient(to top, #229df9 0%, #229df9 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.delice-papille__content .underline-3:hover {
  background-size: 100% 100%;
}
.delice-papille__content p {
  font-family: "Segoe Print", serif;
  font-weight: bold;
}
.delice-papille__content strong {
  font-family: "Segoe Print", serif;
  font-size: 27px;
}

/* INDEX | La palette de goût */
.menus__palette-du-gout h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 45px;
  text-align: center;
  margin: 0;
  padding: 10px;
  background: linear-gradient(120deg, #41963c, #bffc87);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menus__palette-du-gout h3 {
  font-family: "Segoe Print", serif;
  font-size: 65px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
  padding: 10px;
  color: #72bf56;
}

/* PAGE | La palette du goût */
.palette-gout__content h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 85px;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 6vh;
  background: linear-gradient(120deg, #41963c, #bffc87);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.palette-gout__content h3 {
  font-family: "Segoe Print", serif;
  font-size: 30px;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
  margin: 0 2vw;
}
.palette-gout__content .underline-1 {
  background: linear-gradient(to top, #bffc87 0%, #bffc87 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.palette-gout__content .underline-1:hover {
  background-size: 100% 100%;
}
.palette-gout__content .underline-2 {
  background: linear-gradient(to top, #bffc87 0%, #bffc87 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.palette-gout__content .underline-2:hover {
  background-size: 100% 100%;
}
.palette-gout__content .underline-3 {
  background: linear-gradient(to top, #bffc87 0%, #bffc87 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.palette-gout__content .underline-3:hover {
  background-size: 100% 100%;
}
.palette-gout__content p {
  font-family: "Segoe Print", serif;
  font-weight: bold;
}
.palette-gout__content strong {
  font-family: "Segoe Print", serif;
  font-size: 27px;
}

/* "bouton" Prochainement */
.soon {
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  text-align: center;
  font-size: 27px;
  white-space: nowrap;
}
.soon span {
  letter-spacing: 5px;
}

/* Footer */
footer {
  font-family: "Montserrat", "sans-serif";
  font-size: 27px;
  font-weight: 500;
}

/* Page Mentions légales */
.mentions-legales {
  font-family: "Montserrat", "sans-serif";
  font-size: 25px;
}
.mentions-legales h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 80px;
  border-bottom: 1px black solid;
}
.mentions-legales .chapitre {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.mentions-legales .infos {
  line-height: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.mentions-legales h3 {
  border-bottom: 1px black solid;
}
.mentions-legales p {
  margin-bottom: 40px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 1000px) {
  #menus-ligne-1, #menus-ligne-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }

  #menu-ligne-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .note-enchantee__content {
    width: 100%;
  }

  .chic-francaise__content {
    width: 100%;
  }

  .delice-papille__content {
    width: 100%;
  }

  .palette-gout__content {
    width: 100%;
  }

  .soon {
    width: 320px;
  }

  footer a {
    padding: 10px;
  }
}
@media screen and (max-width: 800px) {
  header {
    height: 110px;
  }
  header h1 {
    font-size: 60px;
  }

  .menus {
    margin-bottom: 20px;
  }

  #menus-ligne-1, #menus-ligne-2 {
    margin-top: 20px;
  }

  #menus-ligne-2 {
    margin-top: 0;
  }

  .note-enchantee__content {
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
  }
  .note-enchantee__content .entrees, .note-enchantee__content .plats, .note-enchantee__content .desserts {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .note-enchantee__content .desserts {
    margin-bottom: 20px;
  }
  .note-enchantee__content .lignemenu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .note-enchantee__content h2 {
    font-size: 2.2em;
  }
  .note-enchantee__content h3 {
    font-size: 1.4em;
  }
  .note-enchantee__content p {
    font-size: 1em;
  }

  .chic-francaise__content {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
  }
  .chic-francaise__content .entrees, .chic-francaise__content .plats, .chic-francaise__content .desserts {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .chic-francaise__content .entrees .lignemenu, .chic-francaise__content .plats .lignemenu, .chic-francaise__content .desserts .lignemenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 5px 30px 5px;
  }
  .chic-francaise__content .plats {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .chic-francaise__content .plats .lignemenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 5px 30px 5px;
  }
  .chic-francaise__content .desserts {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
  }
  .chic-francaise__content .desserts .lignemenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 5px 30px 5px;
  }
  .chic-francaise__content h2 {
    font-size: 1.8em;
  }
  .chic-francaise__content h3 {
    font-size: 1.1em;
    white-space: normal;
  }
  .chic-francaise__content p {
    font-size: 20px;
  }
  .chic-francaise__content span {
    font-size: 20px;
    margin-top: 10px;
  }

  .delice-papille__content {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
  }
  .delice-papille__content .entrees, .delice-papille__content .plats, .delice-papille__content .desserts {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .delice-papille__content .entrees .lignemenu, .delice-papille__content .plats .lignemenu, .delice-papille__content .desserts .lignemenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 5px 30px 5px;
  }
  .delice-papille__content .plats {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .delice-papille__content .plats .lignemenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 5px 30px 5px;
  }
  .delice-papille__content .desserts {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
  }
  .delice-papille__content .desserts .lignemenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 5px 30px 5px;
  }
  .delice-papille__content h2 {
    font-size: 2.5em;
  }
  .delice-papille__content h3 {
    font-size: 1em;
    margin-left: 15px;
    margin-right: 15px;
  }
  .delice-papille__content p {
    font-size: 0.8em;
  }
  .delice-papille__content strong {
    font-size: 0.8em;
    margin-top: 10px;
  }

  .palette-gout__content {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
  }
  .palette-gout__content .entrees, .palette-gout__content .plats, .palette-gout__content .desserts {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .palette-gout__content .entrees .lignemenu, .palette-gout__content .plats .lignemenu, .palette-gout__content .desserts .lignemenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 5px 30px 5px;
  }
  .palette-gout__content .plats {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .palette-gout__content .plats .lignemenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 5px 30px 5px;
  }
  .palette-gout__content .desserts {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
  }
  .palette-gout__content .desserts .lignemenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 5px 30px 5px;
  }
  .palette-gout__content h2 {
    font-size: 2.4em;
  }
  .palette-gout__content h3 {
    font-size: 1.1em;
  }
  .palette-gout__content p {
    font-size: 0.9em;
  }
  .palette-gout__content strong {
    font-size: 0.9em;
    margin-top: 10px;
  }

  .mentions-legales {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 500px) {
  header .logo {
    display: block;
    width: 80%;
  }

  .menus {
    width: 95%;
    height: 450px;
    margin-bottom: 20px;
  }
  .menus h2 {
    font-size: 30px;
  }
  .menus h3 {
    font-size: 45px;
  }

  #menus-ligne-1, #menus-ligne-2 {
    margin-top: 10px;
  }

  #menus-ligne-2 {
    margin-top: 0;
  }

  .soon {
    width: 250px;
    font-size: 20px;
    margin-top: 40px;
  }

  footer {
    font-size: 18px;
  }
  footer a {
    padding: 0 5px;
  }
}

/*# sourceMappingURL=style.css.map */
