@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

/* Effet points de suspension avec opacité en décalé sur "Prochainement" */
@keyframes ellipsis {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
/* Effet de secousse au survol des rubriques "mentions légales" et "contactez-nous" FOOTER */
@keyframes wiggle {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: #579c87;
  border-bottom: 2px solid #a1c181;
}
header .logo {
  width: 16vw;
  height: auto;
  margin: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  width: 100%;
  background-color: #579c87;
  border-top: 2px solid #a1c181;
  position: fixed;
  bottom: 0;
  left: 0;
}
footer a {
  text-decoration: none;
  color: #fdcb46;
  padding-left: 2vw;
  padding-right: 2vw;
}
footer .link-animation:hover {
  animation: wiggle 0.2s linear infinite alternate;
}

.link {
  text-decoration: none;
  color: none;
}

#menus-ligne-1, #menus-ligne-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% auto;
}

.menus {
  width: 20vw;
  height: 50vh;
  margin: 0 20px;
  box-shadow: 5px 5px 6px #ededed;
  overflow: hidden;
}
.menus__note-enchantee {
  background-color: #fcdfdb;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.menus__note-enchantee .fa-music {
  margin-bottom: 1vh;
  background: linear-gradient(90deg, #f05060, #f6916a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menus__note-enchantee:hover {
  transform: scale(1.2);
  opacity: 0.6;
}
.menus__chic-a-la-francaise, .menus__delice-des-papilles, .menus__palette-du-gout {
  background-color: #ffff;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.menus__chic-a-la-francaise:hover, .menus__delice-des-papilles:hover, .menus__palette-du-gout:hover {
  transform: scale(1.2);
  opacity: 0.6;
}

.soon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18vw;
  height: 4.5vh;
  margin-top: 5vh;
  margin-bottom: 15vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #579c87;
  color: #fdcb46;
  border-radius: 15px;
}

.point {
  margin: auto;
  padding: 1%;
}
.point span {
  animation: ellipsis 1.4s infinite both;
}
.point span:nth-child(2) {
  animation-delay: 0.2s;
}
.point span:nth-child(3) {
  animation-delay: 0.4s;
}

.note-enchantee {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.note-enchantee__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  margin-top: 4vh;
  margin-bottom: 14vh;
  background-color: #fcdfdb;
}
.note-enchantee__content .fa-music {
  padding-top: 4vh;
  margin-top: 3vh;
  background: linear-gradient(90deg, #f05060, #f6916a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.note-enchantee__content .entrees, .note-enchantee__content .desserts, .note-enchantee__content .plats {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 2vh 4vw;
}
.note-enchantee__content .entrees .entrees__title, .palette-gout__content .desserts .note-enchantee__content .entrees .desserts__title, .palette-gout__content .plats .note-enchantee__content .entrees .plats__title, .palette-gout__content .plats .note-enchantee__content .desserts .plats__title, .delice-papille__content .desserts .note-enchantee__content .entrees .desserts__title, .delice-papille__content .plats .note-enchantee__content .entrees .plats__title, .delice-papille__content .plats .note-enchantee__content .desserts .plats__title, .chic-francaise__content .desserts .note-enchantee__content .entrees .desserts__title, .chic-francaise__content .plats .note-enchantee__content .entrees .plats__title, .chic-francaise__content .plats .note-enchantee__content .desserts .plats__title, .note-enchantee__content .desserts .entrees__title, .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .plats .entrees__title, .palette-gout__content .desserts .note-enchantee__content .plats .desserts__title, .delice-papille__content .desserts .note-enchantee__content .plats .desserts__title, .chic-francaise__content .desserts .note-enchantee__content .plats .desserts__title, .note-enchantee__content .plats .plats__title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 2vh;
}
.note-enchantee__content .entrees img, .note-enchantee__content .desserts img, .note-enchantee__content .plats img {
  width: 15vw;
  align-self: center;
  overflow: hidden;
}
.note-enchantee__content .entrees .lignemenu, .note-enchantee__content .desserts .lignemenu, .note-enchantee__content .plats .lignemenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-note-enchantee {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5vw;
}
.footer-note-enchantee .fa-music {
  padding: 0;
  margin: 0;
  margin-right: 2vw;
  background: linear-gradient(90deg, #f05060, #f6916a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.chic-francaise {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.chic-francaise__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  margin-top: 4vh;
  margin-bottom: 14vh;
}
.chic-francaise__content .entrees, .chic-francaise__content .desserts, .chic-francaise__content .plats {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 2vh 4vw;
  color: #c77412;
}
.chic-francaise__content .entrees .entrees__title, .palette-gout__content .desserts .chic-francaise__content .entrees .desserts__title, .palette-gout__content .plats .chic-francaise__content .entrees .plats__title, .palette-gout__content .plats .chic-francaise__content .desserts .plats__title, .delice-papille__content .desserts .chic-francaise__content .entrees .desserts__title, .delice-papille__content .plats .chic-francaise__content .entrees .plats__title, .delice-papille__content .plats .chic-francaise__content .desserts .plats__title, .chic-francaise__content .desserts .entrees__title, .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .plats .entrees__title, .palette-gout__content .desserts .chic-francaise__content .plats .desserts__title, .delice-papille__content .desserts .chic-francaise__content .plats .desserts__title, .chic-francaise__content .plats .plats__title, .note-enchantee__content .plats .chic-francaise__content .entrees .plats__title, .note-enchantee__content .plats .chic-francaise__content .desserts .plats__title, .note-enchantee__content .desserts .chic-francaise__content .entrees .desserts__title, .note-enchantee__content .desserts .chic-francaise__content .plats .desserts__title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 5vh;
  color: #c77412;
}
.chic-francaise__content .entrees img, .chic-francaise__content .desserts img, .chic-francaise__content .plats img {
  width: 20vw;
  align-self: center;
  overflow: hidden;
}
.chic-francaise__content .entrees .lignemenu, .chic-francaise__content .desserts .lignemenu, .chic-francaise__content .plats .lignemenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.5vh;
}
.chic-francaise__content .plats {
  color: #a56799;
}
.chic-francaise__content .plats .plats__title {
  color: #a56799;
}
.chic-francaise__content .desserts {
  color: #6e4ccc;
}
.chic-francaise__content .desserts .desserts__title {
  color: #6e4ccc;
}

.delice-papille {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.delice-papille__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  margin-top: 4vh;
  margin-bottom: 14vh;
}
.delice-papille__content .entrees, .delice-papille__content .desserts, .delice-papille__content .plats {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 2vh 4vw;
}
.delice-papille__content .entrees .entrees__title, .palette-gout__content .desserts .delice-papille__content .entrees .desserts__title, .palette-gout__content .plats .delice-papille__content .entrees .plats__title, .palette-gout__content .plats .delice-papille__content .desserts .plats__title, .delice-papille__content .desserts .entrees__title, .delice-papille__content .desserts .desserts__title, .delice-papille__content .plats .entrees__title, .palette-gout__content .desserts .delice-papille__content .plats .desserts__title, .delice-papille__content .plats .plats__title, .note-enchantee__content .plats .delice-papille__content .entrees .plats__title, .note-enchantee__content .plats .delice-papille__content .desserts .plats__title, .note-enchantee__content .desserts .delice-papille__content .entrees .desserts__title, .note-enchantee__content .desserts .delice-papille__content .plats .desserts__title, .chic-francaise__content .plats .delice-papille__content .entrees .plats__title, .chic-francaise__content .plats .delice-papille__content .desserts .plats__title, .chic-francaise__content .desserts .delice-papille__content .entrees .desserts__title, .chic-francaise__content .desserts .delice-papille__content .plats .desserts__title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 5vh;
}
.delice-papille__content .entrees img, .delice-papille__content .desserts img, .delice-papille__content .plats img {
  width: 20vw;
  align-self: center;
  overflow: hidden;
}
.delice-papille__content .entrees .lignemenu, .delice-papille__content .desserts .lignemenu, .delice-papille__content .plats .lignemenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3vh;
}
.palette-gout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.palette-gout__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  margin-top: 4vw;
  margin-bottom: 14vh;
}
.palette-gout__content .entrees, .palette-gout__content .desserts, .palette-gout__content .plats {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 2vh 4vw;
}
.palette-gout__content .entrees .entrees__title, .palette-gout__content .entrees .desserts .desserts__title, .palette-gout__content .desserts .entrees .desserts__title, .palette-gout__content .desserts .entrees__title, .palette-gout__content .desserts .desserts__title, .palette-gout__content .entrees .plats .plats__title, .palette-gout__content .desserts .plats .plats__title, .palette-gout__content .plats .entrees .plats__title, .palette-gout__content .plats .desserts .plats__title, .palette-gout__content .plats .entrees__title, .palette-gout__content .plats .desserts .desserts__title, .palette-gout__content .desserts .plats .desserts__title, .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .plats .entrees__title, .palette-gout__content .note-enchantee__content .plats .desserts .desserts__title, .palette-gout__content .desserts .note-enchantee__content .plats .desserts__title, .palette-gout__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .palette-gout__content .plats .entrees__title, .note-enchantee__content .palette-gout__content .plats .desserts .desserts__title, .note-enchantee__content .palette-gout__content .desserts .plats .desserts__title, .note-enchantee__content .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .desserts .entrees__title, .palette-gout__content .note-enchantee__content .desserts .desserts__title, .palette-gout__content .note-enchantee__content .desserts .plats .plats__title, .palette-gout__content .plats .note-enchantee__content .desserts .plats__title, .note-enchantee__content .palette-gout__content .desserts .entrees__title, .note-enchantee__content .palette-gout__content .desserts .desserts__title, .note-enchantee__content .palette-gout__content .desserts .plats .plats__title, .note-enchantee__content .palette-gout__content .plats .desserts .plats__title, .palette-gout__content .chic-francaise__content .plats .entrees__title, .palette-gout__content .chic-francaise__content .plats .desserts .desserts__title, .palette-gout__content .desserts .chic-francaise__content .plats .desserts__title, .palette-gout__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .palette-gout__content .plats .entrees__title, .chic-francaise__content .palette-gout__content .plats .desserts .desserts__title, .chic-francaise__content .palette-gout__content .desserts .plats .desserts__title, .chic-francaise__content .palette-gout__content .plats .plats__title, .palette-gout__content .chic-francaise__content .desserts .entrees__title, .palette-gout__content .chic-francaise__content .desserts .desserts__title, .palette-gout__content .chic-francaise__content .desserts .plats .plats__title, .palette-gout__content .plats .chic-francaise__content .desserts .plats__title, .chic-francaise__content .palette-gout__content .desserts .entrees__title, .chic-francaise__content .palette-gout__content .desserts .desserts__title, .chic-francaise__content .palette-gout__content .desserts .plats .plats__title, .chic-francaise__content .palette-gout__content .plats .desserts .plats__title, .palette-gout__content .delice-papille__content .plats .entrees__title, .palette-gout__content .delice-papille__content .plats .desserts .desserts__title, .palette-gout__content .desserts .delice-papille__content .plats .desserts__title, .palette-gout__content .delice-papille__content .plats .plats__title, .delice-papille__content .palette-gout__content .plats .entrees__title, .delice-papille__content .palette-gout__content .plats .desserts .desserts__title, .delice-papille__content .palette-gout__content .desserts .plats .desserts__title, .delice-papille__content .palette-gout__content .plats .plats__title, .palette-gout__content .delice-papille__content .desserts .entrees__title, .palette-gout__content .delice-papille__content .desserts .desserts__title, .palette-gout__content .delice-papille__content .desserts .plats .plats__title, .palette-gout__content .plats .delice-papille__content .desserts .plats__title, .delice-papille__content .palette-gout__content .desserts .entrees__title, .delice-papille__content .palette-gout__content .desserts .desserts__title, .delice-papille__content .palette-gout__content .desserts .plats .plats__title, .delice-papille__content .palette-gout__content .plats .desserts .plats__title, .palette-gout__content .entrees .note-enchantee__content .plats .plats__title, .palette-gout__content .desserts .note-enchantee__content .plats .plats__title, .palette-gout__content .plats .note-enchantee__content .plats .plats__title, .note-enchantee__content .plats .palette-gout__content .entrees .plats__title, .note-enchantee__content .plats .palette-gout__content .desserts .plats__title, .note-enchantee__content .plats .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .desserts .plats .plats__title, .palette-gout__content .note-enchantee__content .plats .desserts .plats__title, .note-enchantee__content .palette-gout__content .desserts .plats .plats__title, .note-enchantee__content .plats .palette-gout__content .desserts .plats__title, .palette-gout__content .chic-francaise__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .palette-gout__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .palette-gout__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .chic-francaise__content .palette-gout__content .plats .plats__title, .palette-gout__content .chic-francaise__content .desserts .note-enchantee__content .plats .plats__title, .note-enchantee__content .plats .palette-gout__content .chic-francaise__content .desserts .plats__title, .chic-francaise__content .palette-gout__content .desserts .note-enchantee__content .plats .plats__title, .note-enchantee__content .plats .chic-francaise__content .palette-gout__content .desserts .plats__title, .palette-gout__content .delice-papille__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .palette-gout__content .delice-papille__content .plats .plats__title, .delice-papille__content .palette-gout__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .delice-papille__content .palette-gout__content .plats .plats__title, .palette-gout__content .delice-papille__content .desserts .note-enchantee__content .plats .plats__title, .note-enchantee__content .plats .palette-gout__content .delice-papille__content .desserts .plats__title, .delice-papille__content .palette-gout__content .desserts .note-enchantee__content .plats .plats__title, .note-enchantee__content .plats .delice-papille__content .palette-gout__content .desserts .plats__title, .palette-gout__content .entrees .note-enchantee__content .desserts .desserts__title, .palette-gout__content .desserts .note-enchantee__content .desserts .desserts__title, .palette-gout__content .plats .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .desserts .palette-gout__content .entrees .desserts__title, .note-enchantee__content .desserts .palette-gout__content .desserts .desserts__title, .note-enchantee__content .desserts .palette-gout__content .plats .desserts__title, .palette-gout__content .note-enchantee__content .plats .desserts .desserts__title, .palette-gout__content .note-enchantee__content .desserts .plats .desserts__title, .note-enchantee__content .palette-gout__content .plats .desserts .desserts__title, .note-enchantee__content .desserts .palette-gout__content .plats .desserts__title, .palette-gout__content .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .chic-francaise__content .plats .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .desserts .palette-gout__content .chic-francaise__content .plats .desserts__title, .chic-francaise__content .palette-gout__content .plats .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .desserts .chic-francaise__content .palette-gout__content .plats .desserts__title, .palette-gout__content .chic-francaise__content .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .palette-gout__content .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .palette-gout__content .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .chic-francaise__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .delice-papille__content .plats .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .desserts .palette-gout__content .delice-papille__content .plats .desserts__title, .delice-papille__content .palette-gout__content .plats .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .desserts .delice-papille__content .palette-gout__content .plats .desserts__title, .palette-gout__content .delice-papille__content .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .palette-gout__content .delice-papille__content .desserts .desserts__title, .delice-papille__content .palette-gout__content .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .delice-papille__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .entrees .chic-francaise__content .plats .plats__title, .palette-gout__content .desserts .chic-francaise__content .plats .plats__title, .palette-gout__content .plats .chic-francaise__content .plats .plats__title, .chic-francaise__content .plats .palette-gout__content .entrees .plats__title, .chic-francaise__content .plats .palette-gout__content .desserts .plats__title, .chic-francaise__content .plats .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .palette-gout__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .palette-gout__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .note-enchantee__content .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .desserts .chic-francaise__content .plats .plats__title, .chic-francaise__content .plats .palette-gout__content .note-enchantee__content .desserts .plats__title, .note-enchantee__content .palette-gout__content .desserts .chic-francaise__content .plats .plats__title, .chic-francaise__content .plats .note-enchantee__content .palette-gout__content .desserts .plats__title, .palette-gout__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .palette-gout__content .plats .plats__title, .palette-gout__content .chic-francaise__content .desserts .plats .plats__title, .palette-gout__content .chic-francaise__content .plats .desserts .plats__title, .chic-francaise__content .palette-gout__content .desserts .plats .plats__title, .chic-francaise__content .plats .palette-gout__content .desserts .plats__title, .palette-gout__content .delice-papille__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .palette-gout__content .delice-papille__content .plats .plats__title, .delice-papille__content .palette-gout__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .delice-papille__content .palette-gout__content .plats .plats__title, .palette-gout__content .delice-papille__content .desserts .chic-francaise__content .plats .plats__title, .chic-francaise__content .plats .palette-gout__content .delice-papille__content .desserts .plats__title, .delice-papille__content .palette-gout__content .desserts .chic-francaise__content .plats .plats__title, .chic-francaise__content .plats .delice-papille__content .palette-gout__content .desserts .plats__title, .palette-gout__content .entrees .chic-francaise__content .desserts .desserts__title, .palette-gout__content .desserts .chic-francaise__content .desserts .desserts__title, .palette-gout__content .plats .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .desserts .palette-gout__content .entrees .desserts__title, .chic-francaise__content .desserts .palette-gout__content .desserts .desserts__title, .chic-francaise__content .desserts .palette-gout__content .plats .desserts__title, .palette-gout__content .note-enchantee__content .plats .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .desserts .palette-gout__content .note-enchantee__content .plats .desserts__title, .note-enchantee__content .palette-gout__content .plats .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .desserts .note-enchantee__content .palette-gout__content .plats .desserts__title, .palette-gout__content .note-enchantee__content .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .palette-gout__content .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .palette-gout__content .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .note-enchantee__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .chic-francaise__content .plats .desserts .desserts__title, .palette-gout__content .chic-francaise__content .desserts .plats .desserts__title, .chic-francaise__content .palette-gout__content .plats .desserts .desserts__title, .chic-francaise__content .desserts .palette-gout__content .plats .desserts__title, .palette-gout__content .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .delice-papille__content .plats .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .desserts .palette-gout__content .delice-papille__content .plats .desserts__title, .delice-papille__content .palette-gout__content .plats .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .desserts .delice-papille__content .palette-gout__content .plats .desserts__title, .palette-gout__content .delice-papille__content .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .palette-gout__content .delice-papille__content .desserts .desserts__title, .delice-papille__content .palette-gout__content .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .delice-papille__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .entrees .delice-papille__content .plats .plats__title, .palette-gout__content .desserts .delice-papille__content .plats .plats__title, .palette-gout__content .plats .delice-papille__content .plats .plats__title, .delice-papille__content .plats .palette-gout__content .entrees .plats__title, .delice-papille__content .plats .palette-gout__content .desserts .plats__title, .delice-papille__content .plats .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .delice-papille__content .plats .plats__title, .delice-papille__content .palette-gout__content .note-enchantee__content .plats .plats__title, .note-enchantee__content .palette-gout__content .delice-papille__content .plats .plats__title, .delice-papille__content .note-enchantee__content .palette-gout__content .plats .plats__title, .palette-gout__content .note-enchantee__content .desserts .delice-papille__content .plats .plats__title, .delice-papille__content .plats .palette-gout__content .note-enchantee__content .desserts .plats__title, .note-enchantee__content .palette-gout__content .desserts .delice-papille__content .plats .plats__title, .delice-papille__content .plats .note-enchantee__content .palette-gout__content .desserts .plats__title, .palette-gout__content .chic-francaise__content .delice-papille__content .plats .plats__title, .delice-papille__content .palette-gout__content .chic-francaise__content .plats .plats__title, .chic-francaise__content .palette-gout__content .delice-papille__content .plats .plats__title, .delice-papille__content .chic-francaise__content .palette-gout__content .plats .plats__title, .palette-gout__content .chic-francaise__content .desserts .delice-papille__content .plats .plats__title, .delice-papille__content .plats .palette-gout__content .chic-francaise__content .desserts .plats__title, .chic-francaise__content .palette-gout__content .desserts .delice-papille__content .plats .plats__title, .delice-papille__content .plats .chic-francaise__content .palette-gout__content .desserts .plats__title, .palette-gout__content .delice-papille__content .plats .plats__title, .delice-papille__content .palette-gout__content .plats .plats__title, .palette-gout__content .delice-papille__content .desserts .plats .plats__title, .palette-gout__content .delice-papille__content .plats .desserts .plats__title, .delice-papille__content .palette-gout__content .desserts .plats .plats__title, .delice-papille__content .plats .palette-gout__content .desserts .plats__title, .palette-gout__content .entrees .delice-papille__content .desserts .desserts__title, .palette-gout__content .desserts .delice-papille__content .desserts .desserts__title, .palette-gout__content .plats .delice-papille__content .desserts .desserts__title, .delice-papille__content .desserts .palette-gout__content .entrees .desserts__title, .delice-papille__content .desserts .palette-gout__content .desserts .desserts__title, .delice-papille__content .desserts .palette-gout__content .plats .desserts__title, .palette-gout__content .note-enchantee__content .plats .delice-papille__content .desserts .desserts__title, .delice-papille__content .desserts .palette-gout__content .note-enchantee__content .plats .desserts__title, .note-enchantee__content .palette-gout__content .plats .delice-papille__content .desserts .desserts__title, .delice-papille__content .desserts .note-enchantee__content .palette-gout__content .plats .desserts__title, .palette-gout__content .note-enchantee__content .delice-papille__content .desserts .desserts__title, .delice-papille__content .palette-gout__content .note-enchantee__content .desserts .desserts__title, .note-enchantee__content .palette-gout__content .delice-papille__content .desserts .desserts__title, .delice-papille__content .note-enchantee__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .chic-francaise__content .plats .delice-papille__content .desserts .desserts__title, .delice-papille__content .desserts .palette-gout__content .chic-francaise__content .plats .desserts__title, .chic-francaise__content .palette-gout__content .plats .delice-papille__content .desserts .desserts__title, .delice-papille__content .desserts .chic-francaise__content .palette-gout__content .plats .desserts__title, .palette-gout__content .chic-francaise__content .delice-papille__content .desserts .desserts__title, .delice-papille__content .palette-gout__content .chic-francaise__content .desserts .desserts__title, .chic-francaise__content .palette-gout__content .delice-papille__content .desserts .desserts__title, .delice-papille__content .chic-francaise__content .palette-gout__content .desserts .desserts__title, .palette-gout__content .delice-papille__content .plats .desserts .desserts__title, .palette-gout__content .delice-papille__content .desserts .plats .desserts__title, .delice-papille__content .palette-gout__content .plats .desserts .desserts__title, .delice-papille__content .desserts .palette-gout__content .plats .desserts__title, .palette-gout__content .delice-papille__content .desserts .desserts__title, .delice-papille__content .palette-gout__content .desserts .desserts__title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 2vh;
}
.palette-gout__content .entrees img, .palette-gout__content .desserts img, .palette-gout__content .plats img {
  width: 20vw;
  align-self: center;
  overflow: hidden;
}
.palette-gout__content .entrees .lignemenu, .palette-gout__content .desserts .lignemenu, .palette-gout__content .plats .lignemenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2vh;
}
.mentions-content {
  padding: 20px;
  border-left: 2px #579c87 solid;
  border-right: 2px #579c87 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

body {
  font-size: 1.2vw;
  color: #353535;
}

/* INDEX | La note enchantée */
.menus__note-enchantee h2 {
  font-family: "Devonshire", cursive;
  font-size: 2vw;
  font-weight: normal;
  margin: 0;
  text-align: center;
  color: #3d1319;
}
.menus__note-enchantee h3 {
  font-family: "Segoe Print", serif;
  font-size: 2.5vw;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2.5vh;
  margin-bottom: 0;
  text-align: center;
  color: #3d1319;
}

/* PAGE | La note enchantée */
.note-enchantee__content h2 {
  font-family: "Devonshire", cursive;
  font-size: 3vw;
  font-weight: normal;
  text-align: center;
  margin-bottom: 50px;
  color: #3d1319;
}
.note-enchantee__content h3 {
  font-family: "Segoe Print", serif;
  font-size: 1.7vw;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin: 0 20px;
  color: #3d1319;
  background: linear-gradient(to top, #3d1319 0%, #3d1319 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.note-enchantee__content h3:hover {
  background-size: 100% 100%;
}
.note-enchantee__content p {
  font-family: "Segoe Print", serif;
  color: #3d1319;
  margin-bottom: 1%;
}
.note-enchantee__content strong {
  font-family: "Segoe Print", serif;
}
.note-enchantee__content .footer-note-enchantee h2 {
  margin-bottom: 0;
}

/* INDEX | Chic à la française  */
.menus__chic-a-la-francaise h2 {
  font-family: "Croissant One", cursive;
  font-size: 1.5vw;
  text-align: center;
  margin: 0;
  background: linear-gradient(150deg, #e38a12, #8f5aff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menus__chic-a-la-francaise h3 {
  font-family: "Serif";
  /* TO DO police à redéfinir */
  font-size: 2.5vw;
  font-weight: bold;
  color: #c77412;
  margin-top: 3vh;
  margin-bottom: 0;
  text-align: center;
}

/* PAGE | Le chic à la française */
.chic-francaise__content h2 {
  font-family: "Croissant one", cursive;
  font-size: 3vw;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 6vh;
  background: linear-gradient(150deg, #e38a12, #8f5aff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.chic-francaise__content h3 {
  font-family: "Serif";
  font-size: 1.8vw;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  margin: 0 1.5vw;
}
.chic-francaise__content .underline-1 {
  background: linear-gradient(to top, #c77412 0%, #c77412 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.chic-francaise__content .underline-1:hover {
  background-size: 100% 100%;
}
.chic-francaise__content .underline-2 {
  background: linear-gradient(to top, #a56799 0%, #a56799 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.chic-francaise__content .underline-2:hover {
  background-size: 100% 100%;
}
.chic-francaise__content .underline-3 {
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.chic-francaise__content .underline-3:hover {
  background-size: 100% 100%;
}
.chic-francaise__content p {
  font-family: "Serif";
  padding-left: 4.5vw;
}
.chic-francaise__content span {
  padding-right: 4.5vw;
}

/* INDEX | Le délice des papilles */
.menus__delice-des-papilles h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2vw;
  text-align: center;
  margin: 0;
  padding: 5px;
  background: linear-gradient(45deg, #0023db, #0889fb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menus__delice-des-papilles h3 {
  font-family: "Segoe Print", serif;
  font-size: 3vw;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 0;
  color: #0887fb;
}

/* PAGE | Le délice des papilles */
.delice-papille__content h2 {
  font-family: "Dancing Script", cursive;
  font-size: 4.5vw;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 6vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background: linear-gradient(45deg, #0023db, #229df9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.delice-papille__content h3 {
  font-family: "Segoe Print", serif;
  font-size: 1.7vw;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin: 0 2vw;
}
.delice-papille__content .underline-1 {
  background: linear-gradient(to top, #0228dd 0%, #0228dd 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.delice-papille__content .underline-1:hover {
  background-size: 100% 100%;
}
.delice-papille__content .underline-2 {
  background: linear-gradient(to top, #0670f3 0%, #0670f3 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.delice-papille__content .underline-2:hover {
  background-size: 100% 100%;
}
.delice-papille__content .underline-3 {
  background: linear-gradient(to top, #229df9 0%, #229df9 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.delice-papille__content .underline-3:hover {
  background-size: 100% 100%;
}
.delice-papille__content p {
  font-family: "Segoe Print", serif;
  padding-left: 4vw;
}
.delice-papille__content strong {
  font-family: "Segoe Print", serif;
  padding-right: 4vw;
}

/* INDEX | La palette de goût */
.menus__palette-du-gout h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 2vw;
  text-align: center;
  margin: 0;
  background: linear-gradient(120deg, #41963c, #bffc87);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menus__palette-du-gout h3 {
  font-family: "Segoe Print", serif;
  font-size: 3vw;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 0;
  color: #72bf56;
}

/* PAGE | La palette du goût */
.palette-gout__content h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 4.5vw;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 6vh;
  background: linear-gradient(120deg, #41963c, #bffc87);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.palette-gout__content h3 {
  font-family: "Segoe Print", serif;
  font-size: 1.8vw;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
  margin: 0 2vw;
}
.palette-gout__content .underline-1 {
  background: linear-gradient(to top, #bffc87 0%, #bffc87 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.palette-gout__content .underline-1:hover {
  background-size: 100% 100%;
}
.palette-gout__content .underline-2 {
  background: linear-gradient(to top, #bffc87 0%, #bffc87 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.palette-gout__content .underline-2:hover {
  background-size: 100% 100%;
}
.palette-gout__content .underline-3 {
  background: linear-gradient(to top, #bffc87 0%, #bffc87 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.palette-gout__content .underline-3:hover {
  background-size: 100% 100%;
}
.palette-gout__content p {
  font-family: "Segoe Print", serif;
  padding-left: 4vw;
}
.palette-gout__content strong {
  font-family: "Segoe Print", serif;
  padding-right: 4vw;
}

/* "bouton" Prochainement */
.soon {
  font-family: "Montserrat", "sans-serif";
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  white-space: nowrap;
}
.soon span {
  letter-spacing: 5px;
}

/* Footer */
footer {
  font-family: "Montserrat", "sans-serif";
  font-size: 30px;
  font-weight: bold;
}

/* Page Mentions légales */
.mentions-legales {
  font-family: "Montserrat", "sans-serif";
  font-size: 25px;
}
.mentions-legales h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 80px;
}
.mentions-legales .chapitre {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
}
.mentions-legales .infos {
  line-height: 30px;
  text-align: center;
  padding-bottom: 30px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 2000px) {
  header .logo {
    width: 20vw;
  }

  .menus {
    width: 25vw;
  }

  .menus__note-enchantee h2 {
    font-size: 3vw;
  }
  .menus__note-enchantee h3 {
    font-size: 3.5vw;
  }

  .menus__chic-a-la-francaise h2 {
    font-size: 2.5vw;
  }
  .menus__chic-a-la-francaise h3 {
    font-size: 3.5vw;
  }

  .menus__delice-des-papilles h2 {
    font-size: 3.1vw;
  }
  .menus__delice-des-papilles h3 {
    font-size: 3.5vw;
  }

  .menus__palette-du-gout h2 {
    font-size: 3vw;
  }
  .menus__palette-du-gout h3 {
    font-size: 3.5vw;
  }

  .soon {
    width: 22vw;
  }
}
@media screen and (max-width: 1600px) {
  body {
    font-size: 1.5vw;
  }

  header .logo {
    width: 23vw;
  }

  .menus {
    width: 30vw;
  }

  .note-enchantee__content {
    width: 70vw;
  }
  .note-enchantee__content h2 {
    font-size: 4vw;
  }
  .note-enchantee__content h3 {
    font-size: 2vw;
  }

  .chic-francaise__content {
    width: 70vw;
  }
  .chic-francaise__content h2 {
    font-size: 4vw;
  }
  .chic-francaise__content h3 {
    font-size: 2vw;
  }

  .delice-papille__content {
    width: 70vw;
  }
  .delice-papille__content h2 {
    font-size: 4vw;
  }
  .delice-papille__content h3 {
    font-size: 2vw;
  }

  .palette-gout__content {
    width: 70vw;
  }
  .palette-gout__content h2 {
    font-size: 4vw;
  }
  .palette-gout__content h3 {
    font-size: 2vw;
  }

  .soon {
    width: 26vw;
    font-size: 2vw;
  }

  footer {
    font-size: 2vw;
  }
}
@media screen and (max-width: 1200px) {
  body {
    font-size: 1.8vw;
  }

  header .logo {
    width: 25vw;
  }

  .menus {
    width: 35vw;
  }

  .note-enchantee__content {
    width: 75vw;
  }
  .note-enchantee__content h2 {
    font-size: 4.5vw;
  }
  .note-enchantee__content h3 {
    font-size: 2.5vw;
  }

  .chic-francaise__content {
    width: 75vw;
  }
  .chic-francaise__content h2 {
    font-size: 4vw;
  }
  .chic-francaise__content h3 {
    font-size: 2.5vw;
  }

  .delice-papille__content {
    width: 75vw;
  }
  .delice-papille__content h2 {
    font-size: 5.5vw;
  }
  .delice-papille__content h3 {
    font-size: 2.5vw;
  }

  .palette-gout__content {
    width: 75vw;
  }
  .palette-gout__content h2 {
    font-size: 5.5vw;
  }
  .palette-gout__content h3 {
    font-size: 2.5vw;
  }

  .soon {
    width: 30vw;
    font-size: 3vw;
    margin-bottom: 12vh;
  }

  footer {
    font-size: 3vw;
  }
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 2vw;
  }

  header .logo {
    width: 35vw;
  }

  .menus {
    width: 40vw;
  }

  .menus__note-enchantee h2 {
    font-size: 4vw;
  }
  .menus__note-enchantee h3 {
    font-size: 4.5vw;
  }

  .menus__chic-a-la-francaise h2 {
    font-size: 3vw;
  }
  .menus__chic-a-la-francaise h3 {
    font-size: 4.5vw;
  }

  .menus__delice-des-papilles h2 {
    font-size: 4vw;
  }
  .menus__delice-des-papilles h3 {
    font-size: 4.5vw;
  }

  .menus__palette-du-gout h2 {
    font-size: 4vw;
  }
  .menus__palette-du-gout h3 {
    font-size: 4.5vw;
  }

  .note-enchantee__content {
    width: 85vw;
  }
  .note-enchantee__content h2 {
    font-size: 5vw;
  }
  .note-enchantee__content h3 {
    font-size: 3vw;
  }

  .soon {
    width: 35vw;
    font-size: 2.5vw;
  }

  footer {
    font-size: 2.5vw;
    height: 7vh;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 2.5vw;
  }

  header .logo {
    width: 45vw;
  }

  .menus {
    width: 95vw;
    height: 40vh;
  }

  .menus__note-enchantee h2 {
    font-size: 6.5vw;
  }
  .menus__note-enchantee h3 {
    font-size: 8vw;
  }

  .menus__chic-a-la-francaise h2 {
    font-size: 6vw;
  }
  .menus__chic-a-la-francaise h3 {
    font-size: 8vw;
  }

  .menus__delice-des-papilles h2 {
    font-size: 6.5vw;
  }
  .menus__delice-des-papilles h3 {
    font-size: 8vw;
  }

  .menus__palette-du-gout h2 {
    font-size: 6.2vw;
  }
  .menus__palette-du-gout h3 {
    font-size: 8vw;
  }

  .note-enchantee__content {
    width: 85vw;
  }
  .note-enchantee__content h2 {
    font-size: 5vw;
  }
  .note-enchantee__content h3 {
    font-size: 3vw;
  }

  #menus-ligne-1, #menus-ligne-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .note-enchantee__content {
    width: 95vw;
  }
  .note-enchantee__content h2 {
    font-size: 5vw;
  }
  .note-enchantee__content h3 {
    font-size: 3vw;
  }

  .chic-francaise__content {
    width: 95vw;
  }
  .chic-francaise__content h2 {
    font-size: 6vw;
  }
  .chic-francaise__content h3 {
    font-size: 4vw;
  }

  .palette-gout__content {
    width: 95vw;
  }
  .palette-gout__content h2 {
    font-size: 7.5vw;
  }
  .palette-gout__content h3 {
    font-size: 3.5vw;
  }

  .soon {
    width: 60vw;
    font-size: 3vw;
  }

  footer {
    font-size: 3vw;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-size: 3.8vw;
  }

  header .logo {
    width: 70vw;
  }

  .note-enchantee__content {
    width: 95vw;
  }
  .note-enchantee__content h2 {
    font-size: 6.5vw;
  }
  .note-enchantee__content h3 {
    font-size: 4.5vw;
  }
  .note-enchantee__content .lignemenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2vh;
  }

  .chic-francaise__content {
    width: 95vw;
  }
  .chic-francaise__content h2 {
    font-size: 8vw;
  }
  .chic-francaise__content h3 {
    font-size: 5vw;
  }

  .delice-papille__content {
    width: 95vw;
  }
  .delice-papille__content h2 {
    font-size: 12vw;
  }
  .delice-papille__content h3 {
    font-size: 4.8vw;
  }
  .delice-papille__content .lignemenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2vh;
  }
  .delice-papille__content .lignemenu p {
    padding: 0;
  }
  .delice-papille__content .lignemenu strong {
    padding: 0;
  }

  .palette-gout__content {
    width: 95vw;
  }
  .palette-gout__content h2 {
    font-size: 12vw;
  }
  .palette-gout__content h3 {
    font-size: 4.8vw;
  }
  .palette-gout__content .lignemenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2vh;
  }
  .palette-gout__content .lignemenu p {
    padding: 0;
  }
  .palette-gout__content .lignemenu strong {
    padding: 0;
  }

  .soon {
    width: 60vw;
    font-size: 5vw;
  }

  footer {
    font-size: 5vw;
    height: 6vh;
  }
}

/*# sourceMappingURL=style.css.map */
