@import "base/typographie";
@import "utils/variables";

@import "layout/header";
@import "layout/footer";

@import "pages/index";
@import "pages/la-note-enchantee";
@import "pages/le-chic-a-la-francaise";
@import "pages/le-delice-des-papilles";
@import "pages/la-palette-du-gout";

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}