footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: $primary;
    border-top: 2px solid #a1c181;
    position: fixed;
    bottom: 0;
    left: 0;
    
    a {
        text-decoration: none;
        color: $secondary;
        padding-left: 30px;
        padding-right: 30px;
    }

    .link-animation {
        &:hover {
            animation: wiggle 0.2s linear infinite alternate;
        }
    }
}

