
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%; 
    background-color: $primary;
    border-bottom: 2px solid #a1c181;

    .logo{
        width: 380px;
        height: auto;
        margin: auto;
    }
}

