

// Code commun à mon site
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}




// Responsive 

@media screen and (max-width: 2000px) {
    header {

        .logo {
            width: 20vw;
        }
    }

    .menus {
        width: 25vw;
    }

    .menus__note-enchantee {
        h2 {
            font-size: 3vw;
        }

        h3 {
            font-size: 3.5vw;
        }
    }

    .menus__chic-a-la-francaise {
        h2 {
            font-size: 2.5vw;
        }

        h3 {
            font-size: 3.5vw;
        }
    }

    .menus__delice-des-papilles {
        h2 {
            font-size: 3.1vw;
        }

        h3 {
            font-size: 3.5vw;
        }
    }

    .menus__palette-du-gout {
        h2 {
            font-size: 3vw;
        }

        h3 {
            font-size: 3.5vw;
        }
    }

    .soon {
        width: 22vw;
    }
}






@media screen and (max-width: 1600px) {

    body{
        font-size: 1.5vw;
    }

    header {

        .logo {
            width: 23vw;
        }
    }

    .menus {
        width: 30vw;
    }

    .note-enchantee__content {
        width: 70vw;

        h2{
            font-size: 4vw;
        }

        h3 {
            font-size: 2vw;
        }
    }

    .chic-francaise__content {
        width: 70vw;

        h2{
            font-size: 4vw;
        }

        h3 {
            font-size: 2vw;
        }
    }

    .delice-papille__content {
       width: 70vw;

        h2{
            font-size: 4vw;
        }

        h3 {
            font-size: 2vw;
        }
    }

    .palette-gout__content {
        width: 70vw;

        h2{
            font-size: 4vw;
        }

        h3 {
            font-size: 2vw;
        }
    }

    .soon {
        width: 26vw;
        font-size: 2vw;
    }

    footer {
        font-size: 2vw;
    }
}







@media screen and (max-width: 1200px) {
    body {
        font-size: 1.8vw;
    }

    header {

        .logo {
            width: 25vw;
        }
    }

    .menus {
        width: 35vw;
    }

     .note-enchantee__content {
        width: 75vw;
        
        h2{
            font-size: 4.5vw;
        }

        h3 {
            font-size: 2.5vw;
        }
     }    
        
     .chic-francaise__content {
        width: 75vw;
        
        h2{
            font-size: 4vw;
        }

        h3 {
            font-size: 2.5vw;
        }
    }

     .delice-papille__content {
        width: 75vw;
        
        h2{
            font-size: 5.5vw;
        }

        h3 {
            font-size: 2.5vw;
        }
    }

    .palette-gout__content {
        width: 75vw;
        
        h2{
            font-size: 5.5vw;
        }

        h3 {
            font-size: 2.5vw;
        }
    }

    .soon {
        width: 30vw;
        font-size: 3vw;
        margin-bottom: 12vh;
    }

    footer {
        font-size: 3vw;
    }
}







@media screen and (max-width: 1024px) {
    body {
        font-size: 2vw;
    }
    header {

        .logo {
            width: 35vw;
        }
    }

    .menus {
        width: 40vw;
    }

    .menus__note-enchantee {
        h2 {
            font-size: 4vw;
        }

        h3 {
            font-size: 4.5vw;
        }
    }

    .menus__chic-a-la-francaise {
        h2 {
            font-size: 3vw;
        }

        h3 {
            font-size: 4.5vw;
        }
    }

    .menus__delice-des-papilles {
        h2 {
            font-size: 4vw;
        }

        h3 {
            font-size: 4.5vw;
        }
    }

    .menus__palette-du-gout {
        h2 {
            font-size: 4vw;
        }

        h3 {
            font-size: 4.5vw;
        }
    }
    .note-enchantee__content {
        width: 85vw;

        h2{
            font-size: 5vw;
        }

        h3 {
            font-size: 3vw;
        }
    }

    .soon {
        width: 35vw;
        font-size: 2.5vw;
    }

    footer {
        font-size: 2.5vw;
        height: 7vh;
    }
}








@media screen and (max-width: 767px) {
    body {
        font-size: 2.5vw;
    }
    header {

        .logo {
            width: 45vw;
        }
    }

    .menus {
        width: 95vw;
        height: 40vh;
    }

    .menus__note-enchantee {
        h2 {
            font-size: 6.5vw;
        }

        h3 {
            font-size: 8vw;
        }
    }

    .menus__chic-a-la-francaise {
        h2 {
            font-size: 6vw;
        }

        h3 {
            font-size: 8vw;
        }
    }

    .menus__delice-des-papilles {
        h2 {
            font-size: 6.5vw;
        }

        h3 {
            font-size: 8vw;
        }
    }

    .menus__palette-du-gout {
        h2 {
            font-size: 6.2vw;
        }

        h3 {
            font-size: 8vw;
        }
    }
    .note-enchantee__content {
        width: 85vw;

        h2{
            font-size: 5vw;
        }

        h3 {
            font-size: 3vw;
        }
    }

    #menus-ligne-1, #menus-ligne-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .note-enchantee__content {
        width: 95vw;
        
        h2{
            font-size: 5vw;
        }

        h3 {
            font-size: 3vw;
        }
    }

    .chic-francaise__content {
        width: 95vw;
        
        h2{
            font-size: 6vw;
        }

        h3 {
            font-size: 4vw;
        }
    }

    .palette-gout__content {
        width: 95vw;
        
        h2{
            font-size: 7.5vw;
        }

        h3 {
            font-size: 3.5vw;
        }
    }

    .soon {
        width: 60vw;
        font-size: 3vw;
    }

    footer {
        font-size: 3vw;
    }
}







@media screen and (max-width: 500px) {
    body {
        font-size: 3.8vw;
    }

    header {

        .logo {
            width: 70vw;
        }
    }

     .note-enchantee__content {
        width: 95vw;
        
        h2{
            font-size: 6.5vw;
        }

        h3 {
            font-size: 4.5vw;
        }

        .lignemenu {
            display: flex; 
            flex-direction: column;
            text-align: center;
            margin-bottom: 2vh;
        }
    }

    .chic-francaise__content {
        width: 95vw;
        
        h2{
            font-size: 8vw;
        }

        h3 {
            font-size: 5vw;
        }
    }

    .delice-papille__content {
        width: 95vw;
        
        h2{
            font-size: 12vw;
        }

        h3 {
            font-size: 4.8vw;
        }
    }

    .palette-gout__content {
        width: 95vw;
        
        h2{
            font-size: 12vw;
        }

        h3 {
            font-size: 4.8vw;
        }
    }

    .soon {
        width: 60vw;
        font-size: 5vw;
    }

    footer {
        font-size: 5vw;
        height: 6vh;
    }
}

