

// Code commun à mon site
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}



// Reponsive
// Breakpoint 1000px
@media screen and (max-width: 1000px) {
    #menus-ligne-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        }
    #menu-ligne-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }

    .note-enchantee__content {
        width: 100%;
    }

    .chic-francaise__content {
        width: 100%;
    }

    .delice-papille__content {
        width: 100%;
    }

    .palette-gout__content {
        width: 100%;
    }

    .soon {
        width: 320px;
    }

    footer {
        a {
            padding: 10px;
        }
    }
}

// Breakpoint 800px
@media screen and (max-width: 800px) {
    header {
        height: 110px;

        h1 {
            font-size: 60px; 
        }
    }

    .menus {
        margin-bottom: 20px;
    }

    #menus-ligne-1 {
        margin-top: 20px;
    }

    #menus-ligne-2 {
        margin-top: 0;
    }

    .note-enchantee__content {
        font-size: 0.8em;
        margin-top: 0;
        margin-bottom: 0;
        box-shadow: none;
        
        .entrees {
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
        }

        .desserts {
            margin-bottom: 20px;
        }
        
        .lignemenu {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        h2 {
             font-size: 2.2em;
        }

        h3 {
             font-size: 1.4em;
        }

        p {
             font-size: 1em;
        }
    }

    .chic-francaise__content {

        margin-top: 0;
        margin-bottom: 0;
        box-shadow: none;
        
        .entrees {
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;

            .lignemenu {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            margin: 0 5px 30px 5px;
            }
        }

        .plats {
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;

            .lignemenu {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            margin: 0 5px 30px 5px;
            }
        }

        .desserts {
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 20px;

            .lignemenu {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            margin: 0 5px 30px 5px;
            }
        }

        h2 {
             font-size: 1.8em;
        }

        h3 {
             font-size: 1.1em;
             white-space: normal;
        }

        p {
            font-size: 20px;
        }

        span {
            font-size: 20px;
            margin-top: 10px;
        }
    }

    .delice-papille__content {

        margin-top: 0;
        margin-bottom: 0;
        box-shadow: none;
        
        .entrees {
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;

            .lignemenu {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            margin: 0 5px 30px 5px;
            }
        }

        .plats {
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;

            .lignemenu {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            margin: 0 5px 30px 5px;
            }
        }

        .desserts {
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 20px;

            .lignemenu {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            margin: 0 5px 30px 5px;
            }
        }

        h2 {
             font-size: 2.5em;
        }

        h3 {
             font-size: 1em;
             margin-left: 15px;
             margin-right: 15px;
        }

        p {
            font-size: 0.8em;
        }

        strong {
            font-size: 0.8em;
            margin-top: 10px;
        }
    }

    .palette-gout__content {

        margin-top: 0;
        margin-bottom: 0;
        box-shadow: none;
        
        .entrees {
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;

            .lignemenu {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            margin: 0 5px 30px 5px;
            }
        }

        .plats {
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;

            .lignemenu {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            margin: 0 5px 30px 5px;
            }
        }

        .desserts {
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 20px;

            .lignemenu {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            margin: 0 5px 30px 5px;
            }
        }

        h2 {
             font-size: 2.4em;
        }

        h3 {
             font-size: 1.1em;
        }

        p {
            font-size: 0.9em;
        }

        strong {
            font-size: 0.9em;
            margin-top: 10px;
        }
    }

        .mentions-legales {
            display: flex; 
            justify-content: center;
            align-items: center;
            font-size: 0.9em;
            text-align: center;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
}


// Breakpoint 500px
@media screen and (max-width: 500px) {

    header {
        .logo {
            display: block;
            width: 80%;
        }
    }

    .menus {
        width: 95%;
        height: 450px;
        margin-bottom: 20px;

        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 45px;
        }
    }

    #menus-ligne-1 {
        margin-top: 10px;
    }

    #menus-ligne-2 {
        margin-top: 0;
    }

    .soon {
        width: 250px;
        font-size: 20px;
        margin-top: 40px;
    }

    footer {
        font-size: 17px;

        a {
            padding: 0 5px;
        }
    }
}