
// PAGE ACCUEIL // INDEX 

// La note enchantée
// font-family: 'Devonshire'; --> Police titre Menu La note enchantée
// font-family: 'Segoe print bold'; -->Police du "Menu" note enchantée

// Le chic à la française
// font-family: 'Croissant One Regular'; --> Police titre Chic à la française
// font-family: 'Source Serif Pro'; --> Police du "Menu" Chic à la française

// Le délice des papilles
// font-family: 'Dancing Script Regular'; --> Police titre Le délice des papilles
// font-family: 'Segoe Print bold'; --> Police "Menu" et texte Le délice des papilles

// La palette du goût
// font-family: 'Kaushan Script Regular'; --> Police titre La palette du gout
// font-family: 'Segoe print bold'; -->Police du "Menu" La palette du gout 

// FOOTER
// font-familly: 'Monsterrat'; --> Polices de "Prochainement" et Boutons footer.


body {
    font-size: 22px;
    color: $text-color;
}

/* INDEX | La note enchantée */
.menus__note-enchantee {
    h2{
    font-family: 'Devonshire', cursive;
    font-size: 45px;
    font-weight: normal;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: $menu-note-color;
    }

    h3{
    font-family: 'Segoe Print', serif;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    color: $menu-note-color;
    }
}

/* PAGE | La note enchantée */
.note-enchantee {

    &__content {

        h1 {
            font-family: 'Devonshire', cursive;
            font-size: 55px;
            font-weight: normal;
            text-align: center;
            margin-bottom: 50px;
            color: $menu-note-color;
        }

        h2 {
            font-family: 'Segoe Print', serif;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;
            margin: 0 20px;
            color: $menu-note-color;
            @include underline-menus($menu-note-color);
            @include underline-hover;
        }

        h3 {
            font-family: 'Devonshire', cursive;
            font-size: 45px;
            font-weight: normal;
            text-align: center;
            color: $menu-note-color;
        }
        
        p {
            font-family: 'Segoe Print', serif;
            color: $menu-note-color;
        }

        strong {
            font-family: 'Segoe Print', serif;
            font-size: 25px;
        }
    }
}



/* INDEX | Chic à la française  */
.menus__chic-a-la-francaise {
    h2{
    font-family: 'Croissant One', cursive;
    font-size: 32px;
    text-align: center;
    margin: 0;
    padding: 10px;
    @include title-gradient(150deg, #e38a12, #8f5aff);
    }

    h3{
    font-family: 'Serif'; /* TO DO police à redéfinir */
    font-size: 65px;
    font-weight: bold;
    color: #c77412;
    margin-top: 35px;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    }
}

/* PAGE | Le chic à la française */
.chic-francaise {

    &__content {

        h1 {
            font-family: 'Croissant one', cursive;
            font-size: 50px;
            text-align: center;
            margin-top: 5vh;
            margin-bottom: 6vh;
            @include title-gradient(150deg, #e38a12, #8f5aff);
        }

        h2 {
            font-family: 'Serif';
            font-size: 30px;
            font-weight: bold;
            white-space: nowrap;
            text-align: center;
            margin: 0 15px;
        }
        .underline-1 {
            @include underline-menus($chic-color-1);
            @include underline-hover;
        }

        .underline-2 {
            @include underline-menus($chic-color-2);
            @include underline-hover;
        }

        .underline-3 {
            @include underline-menus($chic-color-3);
            @include underline-hover;
        }
        
        p {
            font-family: 'Serif';
            font-size: 25px;
        } 

        span {
            font-family: 'Serif';
            font-size : 28px;
        }
    }
}



/* INDEX | Le délice des papilles */
.menus__delice-des-papilles {
    h2{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 10px;
    @include title-gradient(45deg, #0023db, #0889fb);
    }

    h3{
    font-family: 'Segoe Print', serif; 
    font-size: 65px;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    margin-bottom: 0;
    color: #0887fb;
    }
}

/* PAGE | Le délice des papilles */
.delice-papille {

    &__content {

        h1 {
            font-family: 'Dancing Script', cursive;
            font-size: 90px;
            text-align: center;
            margin-top: 5vh;
            margin-bottom: 6vh;
            padding-left: 5px;
            padding-right: 5px;
            @include title-gradient(45deg, #0023db, #229df9);
        }

        h2 {
            font-family: 'Segoe Print', serif;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;
            margin: 0 50px;
        }

        .underline-1 {
            @include underline-menus($papille-color-1);
            @include underline-hover;
        }

        .underline-2 {
            @include underline-menus($papille-color-2);
            @include underline-hover;
        }

        .underline-3 {
            @include underline-menus($papille-color-3);
            @include underline-hover;
        }
        
        p {
            font-family: 'Segoe Print', serif;
            font-weight: bold;
        }

        strong {
            font-family: 'Segoe Print', serif;
            font-size: 27px;
        }
    }
}



/* INDEX | La palette de goût */
.menus__palette-du-gout {
    h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 45px;
    text-align: center;
    margin: 0;
    padding: 10px;
    @include title-gradient(120deg, $palette-color-1, $palette-color-2);
    }

    h3{
    font-family: 'Segoe Print', serif;
    font-size: 65px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 10px;
    color: #72bf56;
    }
}

/* PAGE | La palette du goût */
.palette-gout {

    &__content {

        h1 {
            font-family: 'Kaushan Script', cursive;
            font-size: 85px;
            text-align: center;
            margin-top: 4vh;
            margin-bottom: 6vh;
            @include title-gradient(120deg, $palette-color-1, $palette-color-2);
        }

        h2 {
            font-family: 'Segoe Print', serif;
            font-size: 30px;
            white-space: nowrap;
            font-weight: bold;
            text-align: center;
            margin: 0 2vw;
        }

        .underline-1 {
            @include underline-menus($palette-color-2);
            @include underline-hover;
        }

        .underline-2 {
            @include underline-menus($palette-color-2);
            @include underline-hover;
        }

        .underline-3 {
            @include underline-menus($palette-color-2);
            @include underline-hover;
        }
        
        p {
            font-family: 'Segoe Print', serif;
            font-weight: bold;
        }

        strong {
            font-family: 'Segoe Print', serif;
            font-size: 27px;
        }
    }
}


/* "bouton" Prochainement */
.soon {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    text-align: center;
    font-size: 27px;
    white-space: nowrap;

    span {
        letter-spacing: 5px;
    }
}

/* Footer */
footer{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 27px;
    font-weight: bold;
}


/* Page Mentions légales */
.mentions-legales {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 25px;

    h1 {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 80px;
        border-bottom: 1px black solid;
    }

    .chapitre {
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    .infos {
        line-height: 30px;
        text-align: center;
        margin-bottom: 50px;
    }

    h4 {
        border-bottom: 1px black solid;
    }

    p {
        margin-bottom: 40px;
    }
}