
/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Devonshire', cursive;
font-family: 'Itim', cursive;
font-family: 'Kurale', serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Kalam', cursive; */

.menu-1{
    h2{
    font-family: Devonshire;
    font-size: 50px;
    font-weight: normal;
    }
    h1{
    font-family: 'Kalam'; /* TO DO à modifier pas la bonne police */
    font-size: 70px;
    font-weight: bold;
    }
}
.soon p{
    font-family: 'Verdana';
    font-size: 23px;
}

footer{
    font-family: 'Verdana';
    font-size: 30px;
}
