// Suppression de la couleur des liens et de la barre de soulignement
.link {
    text-decoration: none;
    color: none;
}


// Disposition de mes menus sur deux lignes
#menus-ligne-1, #menus-ligne-2 {
    display: flex;
    justify-content: center;
    align-items: center;
     margin: 4% auto;

}

// Taille des boîtes des menus + effet de contour + ombre des boîtes
.menus{
    width: 20vw;
    height: 50vh;
    margin: 0 20px;
    box-shadow: $article-box-shadow;
    overflow: hidden;

    // Background + Effet de zoom et opacité + Positionnement du texte à l'intérieur de la boîte menu "La note enchantée"
    &__note-enchantee{
        background-color: $bg-menu-1;
        transition: all 0.4s;

        .fa-music{
            margin-bottom: 1vh;
            @include music-gradient(90deg, $music-color-1, $music-color-2);
        }

        @include zoom-opacity;
        @include position-menus-index;

    }

    // Background + Effet de zoom et opacité + Positionnement du texte à l'intérieur des boîtes des 3 autres menus
    &__chic-a-la-francaise, &__delice-des-papilles, &__palette-du-gout {
        background-color: $bg-other-menu;
        transition: all 0.4s;

        @include zoom-opacity;
        @include position-menus-index;
    }
}


// Bouton Prochainement
.soon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 4.5vh;
    margin-top: 5vh;
    margin-bottom: 15vh;
    margin-left: auto;
    margin-right: auto;
    background-color: $primary;
    color: $secondary;
    border-radius: 15px;
}

// Effet des points de suspension à la fin de prochainement
.point {
    margin: auto;
    padding: 1%;
    
    span {
        animation: ellipsis 1.4s infinite both;
  
        &:nth-child(2) {
            animation-delay: .2s;
        }

        &:nth-child(3) {
            animation-delay: .4s;
        }
    }
}