// Suppression de la couleur des liens et de la barre de soulignement
.link {
    text-decoration: none;
}


// Disposition de mes menus sur deux lignes
#menus-ligne-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto 0 auto;
}

 #menus-ligne-2 {
     @extend #menus-ligne-1;
     margin-top: 60px;
 }

// Taille des boîtes des menus + effet de contour + ombre des boîtes
.menus{
    width: 500px;
    height: 700px;
    margin: 0 40px;
    box-shadow: $article-box-shadow;
    overflow: hidden;

    // Background + Effet de zoom et opacité + Positionnement du texte à l'intérieur de la boîte menu "La note enchantée"
    &__note-enchantee{
        background-color: $bg-note;
        transition: all 0.4s;

        .fa-music{
            margin-bottom: 5px;
            @include music-gradient(90deg, $music-color-1, $music-color-2);
        }

        @include zoom-opacity;
        @include position-menus-index;

    }

    // Background + Effet de zoom et opacité + Positionnement du texte à l'intérieur de la boîte menu " Chic à la française"
    &__chic-a-la-francaise {
        background-color: $bg-chic;
        transition: all 0.4s;

        @include zoom-opacity;
        @include position-menus-index;
    }

     &__delice-des-papilles {
        background-color: $bg-delice;
        transition: all 0.4s;

        @include zoom-opacity;
        @include position-menus-index;
    }


    &__palette-du-gout {
        background-color: $bg-palette;
        transition: all 0.4s;

        @include zoom-opacity;
        @include position-menus-index;
    }
}


// Section Prochainement
.soon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 2.5em;
    margin: 100px auto 150px auto;
    background-color: $primary;
    color: $secondary;
    border-radius: 15px;
}

// Effet des points de suspension à la fin de prochainement
.point {
    margin: auto;
    padding: 1%;
    
    span {
        animation: ellipsis 1.4s infinite both;
  
        &:nth-child(2) {
            animation-delay: .2s;
        }

        &:nth-child(3) {
            animation-delay: .4s;
        }
    }
}