
.note-enchantee {
    @include position-menu;

    &__content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 1000px;
        margin-top: 4vh;
        margin-bottom: 14vh;
        background-color: $bg-menu-1;

        .fa-music {
            margin-top: 80px;
            @include music-gradient(90deg, $music-color-1, $music-color-2);
        }

        .entrees {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            padding: 2em 4em;

            .entrees__title {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            margin-bottom: 20px;
            }

            img {
                width: 35%;
                height: auto;
                align-self: center;
                overflow: hidden;
            }

            .lignemenu {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: 10px;
            }
        }
        
        .plats {
            @extend .entrees;

            .plats__title {
                @extend .entrees__title;
            }
        }

        .desserts {
            @extend .entrees;

            .desserts__title {
                @extend .entrees__title;
            }
        }
    }
}

.footer-note-enchantee {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto 80px auto;

    .fa-music {
        padding: 0;
        margin: 0;
        margin-right: 15px;
        @include music-gradient(90deg, $music-color-1, $music-color-2);
    }
}