.palette-gout {
    @include position-menu;
    
    &__content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 1000px;
        margin-top: 4vh;
        margin-bottom: 14vh;
        background-color: $bg-palette;

        .entrees {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            padding: 2em 1em;

            .entrees__title {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            margin-bottom: 4vh;
            }

            img {
                width: 35%;
                align-self: center;
                overflow: hidden;
            }

            .lignemenu {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin:0 60px 25px 60px;

            }
        }
        
        .plats {
            @extend .entrees;

            .plats__title {
                @extend .entrees__title;
            }
        }

        .desserts {
            @extend .entrees;

            .desserts__title {
                @extend .entrees__title;
            }
        }
    }

}