
.note-enchantee {
    @include position-menu;

    &__content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 60vw;
        margin-top: 4vh;
        margin-bottom: 14vh;
        background-color: $bg-menu-1;

        .fa-music {
            padding-top: 4vh;
            margin-top: 3vh;
            @include music-gradient(90deg, $music-color-1, $music-color-2);
        }

        .entrees {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            padding: 2vh 4vw;

            .entrees__title {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            margin-bottom: 2vh;
            }

            img {
                width: 15vw;
                align-self: center;
                overflow: hidden;
            }

            .lignemenu {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }
        
        .plats {
            @extend .entrees;

            .plats__title {
                @extend .entrees__title;
            }
        }

        .desserts {
            @extend .entrees;

            .desserts__title {
                @extend .entrees__title;
            }
        }
    }
}

.footer-note-enchantee {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:5vw;

    .fa-music {
        padding: 0;
        margin: 0;
        margin-right: 2vw;
        @include music-gradient(90deg, $music-color-1, $music-color-2);
    }
}