

.chic-francaise {
    @include position-menu;
    
    &__content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 60vw;
        margin-top: 4vh;
        margin-bottom: 14vh;
        
        .entrees {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            padding: 2vh 4vw;
            color: $chic-color-1;

            .entrees__title {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            margin-bottom: 5vh;
            color: $chic-color-1;
            }

            img {
                width: 20vw;
                align-self: center;
                overflow: hidden;
            }

            .lignemenu {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 2.5vh;

            }
        }
        
        .plats {
            @extend .entrees;
            color: $chic-color-2;

            .plats__title {
                @extend .entrees__title;
                color: $chic-color-2;
            }
        }

        .desserts {
            @extend .entrees;
            color: $chic-color-3;

            .desserts__title {
                @extend .entrees__title;
                color: $chic-color-3;
            }
        }
    }
}