/* Effet zoom et opacité sur les menus au survol */
@keyframes zoom {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.2);
        opacity: 0.5;
    }
}

/* Effet points de suspension avec opacité en décalé */
@keyframes ellipsis {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

/* Footer Keyframes */
@keyframes wiggle{
    from {
        transform: rotate(5deg) 
    }
    to {
        transform: rotate(-5deg)
    }
}