// couleurs principales du site
$primary: #579c87;
$secondary: #fdcb46;
$menu-note-color: #3d1319;

// Couleurs de fond des menus index
$bg-menu-1: #fcdfdb;
$bg-other-menu: #ffff;

// border des articles 'menus' et ombre de la boîte
$article-border: 1px solid rgb(66, 66, 66, 0.2);
$article-box-shadow: 5px 5px 5px rgb(66, 66, 66, 0.3);
