// couleurs principales du site
$primary: #579c87;
$secondary: #fdcb46;
$text-color: #353535;

// Couleurs icon musique
$music-color-1 : #f05060;
$music-color-2: #f6916a;

// border des articles 'menus' et ombre de la boîte
$article-box-shadow: 0 0 15px 5px  #ededed;

// Couleurs menu "La note enchantée"
$menu-note-color: #3d1319;
$bg-note: #fcdfdb;

// Couleurs menu "Le chic à la française"
$chic-color-1: #c77412;
$chic-color-2: #a56799;
$chic-color-3: #6e4ccc;
$bg-chic: #fff5fe;

// Couleurs menu "Le délice des papilles"
$papille-color-1: #0228dd;
$papille-color-2: #0670f3;
$papille-color-3: #229df9;
$bg-delice: #f9f9f9;

// Couleur menu "La palette du goût"
$palette-color-1: #41963c;
$palette-color-2: #bffc87;
$bg-palette: #fdfffd;
